* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
body { /* overflow: hidden;*/ }

section {
  opacity: 1;
  background-color: #000010;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
section .content {
  min-width: 1400px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}
section .content .mainEarth {
  opacity: 0.4;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  transform-origin: 50% 50%;
}
section .content .earthWrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 1268px;
  width: 1285px;
  z-index: 2;
  z-index: 2;
}
section .content .earthWrap--backgroundTitle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
section .content .earthWrap--text1 {
  position: absolute;
  left: 50%;
  top: 32%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
section .content .earthWrap--textGravityGames {
  position: absolute;
  left: 50%;
  top: 38%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
section .content .earthWrap--textInfo1 {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
section .content .earthWrap--textInfo1 p {
  font-family: "Pretendard-Regular";
  font-size: 26px;
  text-align: center;
  color: #fff;
  line-height: 1.5;
}
section .content .earthWrap--textInfo2 {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
section .content .earthWrap--textInfo2 p {
  font-family: "Pretendard-Regular";
  font-size: 26px;
  text-align: center;
  color: #fff;
  line-height: 1.5;
}
section .content .earthWrap--imgMainLine1 {
  position: absolute;
  left: 49.4%;
  bottom: 0%;
  height: 0;
  transform: translate(-50%, 0%);
  opacity: 1;
}
section .content .earthWrap--imgMainLine2 {
  position: absolute;
  left: 50%;
  top: 63.9%;
  transform: translate(-50%, -50%) scale(0);
  transform-origin: 50% 55%;
  opacity: 1;
}
section .content .earthWrap--imgcenterLight {
  position: absolute;
  left: 50%;
  top: 63%;
  transform: translate(-50%, -50%) scale(0);
  transform-origin: 50% 50%;
  opacity: 1;
}
section .content .earthWrap--mainCharImgWrap {
  opacity: 0;
}
section .content .earthWrap--mainChar1-0 {
  position: absolute;
  z-index: 5;
  top: 33%;
  left: 50%;
  transform: translateX(-121%);
  opacity: 1;
}
section .content .earthWrap--mainChar1-1 {
  position: absolute;
  z-index: 4;
  top: 47%;
  left: 50%;
  transform: translateX(-212%);
  opacity: 1;
}
section .content .earthWrap--mainChar1-2 {
  position: absolute;
  z-index: 3;
  top: 41%;
  left: 50%;
  transform: translateX(-208%);
  opacity: 1;
}
section .content .earthWrap--mainChar1-3 {
  position: absolute;
  z-index: 2;
  top: 26%;
  left: 50%;
  transform: translateX(-140%);
  opacity: 1;
}
section .content .earthWrap--mainChar1-4 {
  position: absolute;
  z-index: 1;
  top: 41%;
  left: 50%;
  transform: translateX(-166%);
  opacity: 1;
}
section .content .earthWrap--mainChar1-5 {
  position: absolute;
  z-index: 0;
  top: 42.5%;
  left: 50%;
  transform: translateX(-343%);
  opacity: 1;
}
section .content .earthWrap--mainChar1-6 {
  position: absolute;
  z-index: 0;
  top: 44%;
  left: 50%;
  transform: translateX(-367%);
  opacity: 1;
}
section .content .earthWrap--mainChar2-0 {
  position: absolute;
  z-index: 8;
  top: 51%;
  left: 50%;
  transform: translateX(37%);
  opacity: 1;
}
section .content .earthWrap--mainChar2-1 {
  position: absolute;
  z-index: 7;
  top: 60%;
  left: 50%;
  transform: translateX(131%);
  opacity: 1;
}
section .content .earthWrap--mainChar2-2 {
  position: absolute;
  z-index: 6;
  top: 37%;
  left: 50%;
  transform: translateX(55%);
  opacity: 1;
}
section .content .earthWrap--mainChar2-3 {
  position: absolute;
  z-index: 5;
  top: 37%;
  left: 50%;
  transform: translateX(115%);
  opacity: 1;
}
section .content .earthWrap--mainChar2-4 {
  position: absolute;
  z-index: 4;
  top: 27%;
  left: 50%;
  transform: translateX(124%);
  opacity: 1;
}
section .content .earthWrap--mainChar2-5 {
  position: absolute;
  z-index: 3;
  top: 41%;
  left: 50%;
  transform: translateX(157%);
  opacity: 1;
}
section .content .earthWrap--mainChar2-6 {
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 50%;
  transform: translateX(209%);
  opacity: 1;
}
section .content .earthWrap--mainChar2-7 {
  position: absolute;
  z-index: 1;
  top: 46%;
  left: 50%;
  transform: translateX(604%);
  opacity: 1;
}
section .content .earthWrap--playOn {
  position: absolute;
  width: 800px;
  height: 118px;
  left: 50%;
  top: 44%;
  transform: translate(-50%, -50%);
  opacity: 0;
  text-align: center;
}
section .content .earthWrap--playOn i {
  content: "";
  position: relative;
  display: inline-block;
  background: url(../images/PLAYON.png) no-repeat;
}
section .content .earthWrap--playOn .object1 {
  width: 30px;
  height: 100%;
  display: none;
  background-position: 0 0;
  opacity: 1;
}
section .content .earthWrap--playOn .object2 {
  width: 30px;
  height: 100%;
  display: none;
  background-position: -737px 0;
  opacity: 1;
  margin-right: 15px;
}
section .content .earthWrap--playOn .poring {
  width: 124px;
  height: 100%;
  display: none;
  background-position: -491px 0;
  opacity: 1;
  scale: 1;
}
section .content .earthWrap--playOn .textP {
  width: 98px;
  height: 100%;
  display: none;
  background-position: -38px 0;
  opacity: 1;
}
section .content .earthWrap--playOn .textL {
  width: 98px;
  height: 100%;
  display: none;
  background-position: -146px 0;
  opacity: 1;
}
section .content .earthWrap--playOn .textA {
  width: 98px;
  height: 100%;
  display: none;
  background-position: -251px 0;
  opacity: 1;
}
section .content .earthWrap--playOn .textY {
  width: 98px;
  height: 100%;
  display: none;
  background-position: -356px 0;
  opacity: 1;
  margin-right: 15px;
}
section .content .earthWrap--playOn .textN {
  width: 100px;
  height: 100%;
  display: none;
  background-position: -629px 0;
  opacity: 1;
}
section .content .earthWrap--playOn .cursor {
  font-size: 80px;
  color: #fff;
  font-weight: bold;
}
section .content .earthWrap--with {
  position: absolute;
  left: 50%;
  top: 54%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
section .content .earthWrap--gravity {
  position: absolute;
  left: 50%;
  top: 64%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
section .content .main--1 {
  transform: scale(1);
  position: absolute;
  z-index: 1;
  left: -4%;
  top: 22%;
  opacity: 1;
}
section .content .main--o {
  transform: scale(1);
  position: absolute;
  z-index: 1;
  left: 12%;
  top: 9%;
  opacity: 1;
}
section .content .main--a {
  transform: scale(1);
  position: absolute;
  z-index: 1;
  left: 10%;
  top: 37%;
  opacity: 1;
}
section .content .main--b {
  transform: scale(1);
  position: absolute;
  z-index: 1;
  left: 6%;
  top: 61%;
  opacity: 1;
}
section .content .main--e {
  transform: scale(1);
  position: absolute;
  z-index: 1;
  left: 5%;
  top: 2%;
  opacity: 1;
}
section .content .main--l {
  transform: scale(1);
  position: absolute;
  z-index: 1;
  left: -15%;
  top: 47%;
  opacity: 1;
}
section .content .main--f {
  transform: scale(1);
  position: absolute;
  z-index: 1;
  right: 48%;
  top: 10%;
  opacity: 1;
}
section .content .main--p {
  transform: scale(1);
  position: absolute;
  z-index: 1;
  right: 63%;
  top: 78%;
  opacity: 1;
}
section .content .main--j {
  transform: scale(1);
  position: absolute;
  z-index: 1;
  right: 11%;
  top: 9%;
  opacity: 1;
}
section .content .main--m {
  transform: scale(1);
  position: absolute;
  z-index: 1;
  right: 31%;
  top: 81%;
  opacity: 1;
}
section .content .main--z {
  transform: scale(1);
  position: absolute;
  z-index: 1;
  right: 8%;
  top: 31%;
  opacity: 1;
}
section .content .main--k {
  transform: scale(1);
  position: absolute;
  z-index: 1;
  right: 11%;
  top: 15%;
  opacity: 1;
}
section .content .main--d {
  transform: scale(1);
  position: absolute;
  z-index: 1;
  right: -5%;
  top: 19%;
  opacity: 1;
}
section .content .main--x {
  transform: scale(1);
  position: absolute;
  z-index: 1;
  right: -4%;
  top: 66%;
  opacity: 1;
}
section .content .main--c {
  transform: scale(1);
  position: absolute;
  z-index: 1;
  right: 3%;
  top: 68%;
  opacity: 1;
}
section .content .main--t {
  transform: scale(1);
  position: absolute;
  z-index: 1;
  right: -10%;
  top: 63%;
  opacity: 1;
}
section .content .main--obj1 {
  transform: scale(1);
  position: absolute;
  z-index: 1;
  left: -10%;
  top: 20%;
  opacity: 1;
}
section .content .main--obj2 {
  transform: scale(1);
  position: absolute;
  z-index: 1;
  top: 37%;
  left: -5%;
  opacity: 1;
}
section .content .main--obj3 {
  transform: scale(1);
  position: absolute;
  z-index: 1;
  left: -10%;
  top: 54%;
  opacity: 1;
}
section .content .main--obj4 {
  transform: scale(1);
  position: absolute;
  z-index: 1;
  top: 62%;
  left: -15%;
  opacity: 1;
}
section .content .main--obj5 {
  transform: scale(1);
  position: absolute;
  z-index: 1;
  left: 5%;
  top: 76%;
  opacity: 1;
}
section .content .main--obj6 {
  transform: scale(1);
  position: absolute;
  z-index: 1;
  left: 7%;
  top: 52%;
  opacity: 1;
}
section .content .main--obj7 {
  transform: scale(1);
  position: absolute;
  z-index: 1;
  top: 79%;
  left: 26%;
  opacity: 1;
}
section .content .main--obj8 {
  transform: scale(1);
  position: absolute;
  z-index: 1;
  top: 19%;
  left: 74.284%;
  opacity: 1;
  filter: sepia(100%) hue-rotate(121deg) saturate(400%);
}
section .content .main--obj9 {
  transform: scale(1);
  position: absolute;
  z-index: 1;
  top: 46%;
  left: 93.3774%;
  opacity: 1;
}
section .content .main--obj10 {
  transform: scale(1);
  position: absolute;
  z-index: 1;
  top: 31%;
  left: 100.8988%;
  opacity: 1;
}
section .content .main--obj11 {
  transform: scale(1);
  position: absolute;
  z-index: 1;
  top: 62%;
  left: 89.0973%;
  opacity: 1;
  filter: sepia(100%) hue-rotate(121deg) saturate(400%);
}
section .content .main--obj12 {
  transform: scale(1);
  position: absolute;
  z-index: 1;
  top: 43%;
  left: 101.4319%;
  opacity: 1;
}
section .content .main--obj13 {
  transform: scale(1);
  position: absolute;
  z-index: 1;
  top: 48%;
  left: 103.821%;
  opacity: 1;
}

#test {
  position: absolute;
  z-index: 2;
  width: 1000;
  height: 800px;
  opacity: 0;
}