
* {
 box-sizing: border-box;
  margin : 0;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



body { /* overflow: hidden;*/  }


footer { 
  width: 100%; height: 390px; display: flex; position: relative; z-index: 99; justify-content: space-between; padding: 50px 75px; border-top: 1px solid #1f1e30; background: #060518;

  .nav-logo { width: 357px; height: 69px; background: url(../images/footer-logo.png) no-repeat; transition: 0.5s all; }
  ul.footerNav {
    display: flex; height: 100%;
    li {    
       height: auto; position: relative;  min-width: 150px; transition: 0.5s all;
      a { color: #fff; font-size: 16px;  display: flex; width: 100%; margin-bottom: 15px; opacity: 0.6; padding: 0 20px; justify-content: center; transition: 0.5s all; font-family: 'Pretendard-Regular';
        &.title { font-size: 20px; font-weight: bold; font-family: 'Poppins'; opacity: 1; }
        &:hover { opacity: 1; }
        
      }
      // &:after { content: ""; position: absolute; bottom: 0; width: 0%; transform-origin: 50% 50%; height: 2px; background-color: #00b0f0; left: 50%; transform: translateX(-50%); transition: 0.5s all; }

      // &:hover { 
      //   &:after { width: 100%; transition: 0.5 all; }
      // }
      // &.active { 
      //   &:after { width: 100%; transition: 0.5 all; }
      // }

    }

  }  
  ul.contactWrap {
    display: flex; height: 100%; 
    li {
      margin: 0 40px; max-height: 35px;
      a { color: #fff; font-size: 18px; font-family: 'Poppins'; font-weight: bold; 
        
      }
      i.arrow { content: ""; width: 11px; height: 6px; display: inline-block; position: relative; right : -35px; background: url(../images/lang-arrow.png) no-repeat; vertical-align: middle; }

      &.familySite { border-bottom: 1px solid rgba(255, 255, 255, 0.6); width: 150px; position: relative;  }
    }
  }


  
}

section {
  opacity : 1;
  background-color : #fff;
  width: 100%;
  // min-width: 1400px;
  height: 100vh;
  display : flex;
  align-items: center; flex-direction: column;
  position: relative;
  &.main  { background: url(../images/bg-repeat.jpg) no-repeat; background-size: cover; opacity: 0;  }

  .content { min-width: 1000px; width: 100%; height: 100%; margin: 0 auto; display: flex; align-items: center; position: relative; justify-content: center; flex-direction: column;

    &--videoWrap { 
      position: absolute; top : 50%; left: 50%; transform: translate(-50%, -60%); opacity: 1; z-index: 1; width: 170px; height: 190px; /* -126 -59 로 와야함 결국은 */
      video { opacity: 0; position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: 1; clip-path: url(#clip); }
      

      .img-svgPlay {  width: 192px; height: 199px; z-index: 2; position: absolute; mix-blend-mode: multiply; left: -16px; top: -5px;  }
     }

     div.bottomTextWrap { display: flex; align-items: center; }
    .mainTitle { margin-bottom: 50px; }
    .text-experience { opacity: 0; transform: translateX(-30%); }
    .text-playon { opacity: 0; }
    .text-on { opacity: 0; transform: translateY(80px); }
    .text-with { display: inline-block; opacity: 0; transform: translateX(24%); }
    .text-hypen { margin-right: 20px; opacity: 0; transform: translateX(24%); transform-origin: right; }
    .text-gravity { display: inline-block; clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%) }
    


  }

  
  // &.sectionNext { height: 100vh; min-height: 100vh;  }
  .mainNextContent { min-width: 1000px; width: 100%; height: 100%; margin: 0 auto; position: relative; display: flex; justify-content: center; flex-wrap: wrap;
       
    
    
    // div[class^="block"] {
    //   position: relative; white-space: nowrap; margin: 0 auto 100px;
    // }
    div.block1 { position: relative; white-space: nowrap; margin: 0 auto 100px; }
    div.block2 { position: relative; white-space: nowrap; margin: 0 auto 100px; }
    div.block3 { position: relative; white-space: nowrap; margin: 0 auto 100px; }
    div.block4 { position: relative; white-space: nowrap; margin: 0 auto 100px; }

    
    // div.block2 { margin-bottom: 50px; }
    // div.block3 { width: 100%; display: flex; justify-content: center; }
    // div.block4 { width: 100%; }
    
    div.blockFinal { margin-bottom: 0; width: 400px; height: 300px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 8;
      h1 { font-family: "GmarketSansBold"; font-size: 70px; position: absolute; z-index: 9; font-weight: 1000; left: 50%; top: 30%; transform: translate(-50%,-50%); text-align: center; line-height: 1.0; opacity: 0; }
      p { font-size: 24px; position: absolute; z-index: 9; font-weight: 500; left: 50%; top: 41%; transform: translate(-50%, -50%); text-align: center; line-height: 1.2;  opacity: 0; }
      img.contentWrapImg { width: 100%; height: 100%; }

      &--boxWrap {
        position: absolute; left: 50%; top: 60%; transform: translate(-50%, -50%); width: 100%;
      }
      &--onlineBox{
        position: absolute; top: 65%; left: 50%; transform: translate(-50%, -50%) scale(1); z-index: 5; opacity: 0; transform-origin: 50% 50%;
        h3 { opacity: 1; text-align: left; left: 41%; transform: translate(0, 0); top: 15%; font-size: 41px; line-height: 1.4; position: absolute; font-weight: bold; z-index: 2;  }
        p { opacity: 1; text-align: left; left: 41%; transform: translate(0,0); top: 29%; font-size: 18px; line-height: 1.4; }
        a.btn-more { left: 41%; position: absolute; top: 50%; }
      }
      &--mobileBox{
        position: absolute; top: 65%; left: 95%; transform: translate(-50%, -50%) scale(0.6); z-index: 5; opacity: 0; transform-origin: 50% 50%;
        h3 { opacity: 1; text-align: left; left: 41%; transform: translate(0, 0); top: 15%; font-size: 41px; line-height: 1.4; position: absolute; font-weight: bold; z-index: 2;  }
        p { opacity: 1; text-align: left; left: 41%; transform: translate(0,0); top: 29%; font-size: 18px; line-height: 1.4; }
        a.btn-more { left: 41%; position: absolute; top: 50%; }
      }
      &--ipTVBox{
        position: absolute; top: 65%; left: 130%; transform: translate(-50%, -50%) scale(0.6); z-index: 5; opacity: 0; transform-origin: 50% 50%;
        h3 { opacity: 1; text-align: left; left: 41%; transform: translate(0, 0); top: 12%; font-size: 41px; line-height: 1.4; position: absolute; font-weight: bold; z-index: 2;  }
        p { opacity: 1; text-align: left; left: 41%; transform: translate(0,0); top: 27%; font-size: 18px; line-height: 1.4; }
        a.btn-more { left: 41%; position: absolute; top: 50%; }
      }

      &--dim {    
          display: none;    
          position: absolute;
          top: 70%;
          left: 0;
          width: 100%;
          height: 166vh;
          background: linear-gradient(to bottom, rgba(133, 133, 133, 0) 0%, rgba(133, 133, 133, 0.013) 4.8%, rgba(133, 133, 133, 0.049) 9.8%, rgba(133, 133, 133, 0.104) 14.8%, rgba(133, 133, 133, 0.175) 20%, rgba(133, 133, 133, 0.259) 25.5%, rgba(133, 133, 133, 0.352) 31.2%, rgba(133, 133, 133, 0.45) 37.1%, rgba(133, 133, 133, 0.55) 43.4%, rgba(133, 133, 133, 0.648) 50.1%, rgba(133, 133, 133, 0.741) 57.2%, rgba(133, 133, 133, 0.825) 64.7%, rgba(133, 133, 133, 0.896) 72.7%, rgba(133, 133, 133, 0.951) 81.2%, rgba(133, 133, 133, 0.987) 90.3%, #fff 100%);
          &:after { content: ""; display: block; position: absolute; left: 0; bottom: -2px; width: 100%; height: 4px; background-color: #fff; }
      
      }

      &--onlineBox {

      }
    }
    
    &--item1 { position: relative; left: 6%; z-index: 3; top : 0% }
    &--item2 { position: relative; left: -3%; top: 46%; z-index: 2;  }
    &--item3 { position: relative; left: 0%; top : 0% }
    &--item4 { position: relative; right: -3%; top: 65%; z-index: 2; }
    &--item5 { position: relative; right: 5%; top: 0%; z-index: 3; }

    &--item6 { position: relative; left: 2%; z-index: 3; top : -5% }
    &--item7 { position: relative; left: -3%;  top: 39%; z-index: 2;  }
    &--item8 { position: relative; left: 0%; top : 12% }
    &--item9 { position: relative; right: -3%; top: 45%; z-index: 2; }
    &--item10 { position: relative; right: 2%; top: 24%; z-index: 3; }

    &--item11 { position: relative; left: -2%; z-index: 3; top : 40% }
    &--item12 { position: relative; left: -8%;  top: 17%; z-index: 2;  }
    &--item13 { position: absolute; width: 460px; height: 344px; left: 50%; transform: translateX(-50%); top : 65%; z-index: 3; }
    &--item14 { position: relative; right: -5%; top: 28%; z-index: 2; }
    &--item15 { position: relative; right: -4%; top: 21%; z-index: 3; }

    
    &--item16 { position: relative; left: 2%; z-index: 3; top : -5% }
    &--item17 { position: relative; left: -3%;  top: 39%; z-index: 2;  }
    &--item18 { position: relative; left: 0%; top : 12%; opacity: 0; }
    &--item19 { position: relative; right: -3%; top: 45%; z-index: 2; }
    &--item20 { position: relative; right: 2%; top: 24%; z-index: 3; }

  }
  
  &.sectionTheWorld {
    background: #838485;}


  .sectionTheWorld {
    background: #000;
    &--title { color: #fff; font-family: "GmarketSansBold"; font-size: 70px; position: relative; z-index: 9; font-weight: 1000; left: 0%; top: 0%; transform: translate(0%,0%); text-align: center; line-height: 1.0; opacity: 1; }
    &--explanation { color: #fff; font-size: 24px; position: relative; margin-top: 30px; z-index: 9; font-weight: 500; left: 0%; top: 0%; transform: translate(0%, 0%); text-align: center; line-height: 1.2;  opacity: 1; }
    
    &__itemWrap {
      display: flex; justify-items: center; align-items: center; height: auto; width: 100%; justify-content: center; margin-top: 35px;
      ul {

        min-width: 1350px;
        
        li { 
          * { transition: 0.5s ease-in-out; }
          transform: scale(1); transform-origin: 50% 50%; background-color: #000; border: 3px solid #747474; padding: 0px 50px 0px 0; box-sizing: border-box; display: flex; align-items: center; border-radius: 50px; position: relative; margin-bottom: 21px;
          
          i.img-nasdaq { content: ''; position: relative; width: 135px; height: 130px; left: -2%; top: 12px; background: url(../images/sectionTheWorld/img-nasdaq.png) no-repeat; }
          i.img-filings { content: ''; position: relative; width: 135px; height: 130px; left: -2%; top: 12px; background: url(../images/sectionTheWorld/img-filings.png) no-repeat; }
          i.img-news { content: ''; position: relative; width: 135px; height: 130px; left: -2%; top: 12px; background: url(../images/sectionTheWorld/img-news.png) no-repeat; }

          p.content { margin-left: 65px; font-size: 20px; font-weight: bold;  color: #fff; display: inline-block; }
          p.cost {  margin-left: 65px; font-size: 33px; font-weight: bold;  color: #fff; span { margin-left: 74px; font-size: 24px; position: relative; top: -17px; } }
          p.date {  margin-left: 65px; font-size: 15px; font-weight: 500;  color: #747474; position: absolute; left: 21.5%; top: 54%; }
          p.bottomText {  margin-left: 65px; font-size: 25px; font-weight: 800; font-family: 'Pretendard-Regular'; color: #fff;
            span { font-size: inherit; &:first-child { margin-right: 35px; } }
            i.icon-triangle { content: ''; display: inline-block; margin: 0 6px; width: 27px; height: 23px; vertical-align: middle;  background: url(../images/sectionTheWorld/icon-triangle.png) no-repeat; }
          }
          a.btn-more { position: absolute; right: 6%; top: 50%; transform: translateY(-50%); background: url(../images/section2/btn-more-white.png) no-repeat; }

          &:hover { 
            a.btn-more { background: url(../images/section2/btn-more-hover.png) no-repeat; }
          }
          


          &.active {
            transform: scale(1.1); transform-origin: 50% 50%; background-color: #fff; border: 3px solid rgba(0,0,0,0); padding: 10px 50px 10px 0; box-sizing: border-box; display: flex; align-items: center; border-radius: 50px; position: relative; margin-bottom: 31px;

            i.img-nasdaq { content: ''; position: relative; width: 203px; height: 198px; left: -2%; top: 12px; background: url(../images/sectionTheWorld/img-nasdaq-big.png) no-repeat; }
            i.img-filings { content: ''; position: relative; width: 250px; height: 198px; left: -2%; top: 12px; background: url(../images/sectionTheWorld/img-filings-big.png) no-repeat; }
            i.img-news { content: ''; position: relative; width: 250px; height: 198px; left: -2%; top: 12px; background: url(../images/sectionTheWorld/img-news-big.png) no-repeat; }

            p.content { margin-left: 65px; font-size: 28px; font-weight: bold;  color: #000; display: inline-block; }
            p.cost {  margin-left: 65px; font-size: 36px; font-weight: bold;  color: #000; span { margin-left: 51px; font-size: 50px; position: relative; top: -28px; } }
            p.date {  margin-left: 65px; font-size: 22px; font-weight: 500;  color: #747474; position: absolute; left: 26.5%; top: 54%; }
            p.bottomText {  margin-left: 65px; font-size: 30px; font-weight: 800; font-family: 'Pretendard-Regular'; color: #000;
              span { font-size: inherit; &:first-child { margin-right: 35px; } }
              i.icon-triangle { content: ''; display: inline-block; margin: 0 6px; width: 27px; height: 23px; vertical-align: middle;  background: url(../images/sectionTheWorld/icon-triangle.png) no-repeat; }
            }
            a.btn-more { position: absolute; right: 6%; top: 50%; transform: translateY(-50%); background: url(../images/section2/btn-more.png) no-repeat;  }
  
            &:hover { 
              a.btn-more { background: url(../images/section2/btn-more-hover.png) no-repeat; }
            }
          }


        }




      }


    }

  }

  // .nasdaqWrap { width: 100%; height: 100%; border: 1px solid #46626f; box-sizing: border-box; padding : 65px 80px 65px 0; display: flex; justify-content: flex-end;
  //   &__content { min-width: 530px; text-align: center;
  //     p.cost { transition: 0.5s all; margin: 20px 0; font-size: 48px; font-weight: bold; font-family: 'Poppins'; color: #fff; span { font-size: 95px; } }
  //     p.date { transition: 0.5s all; margin: 20px 0; font-size: 20px; font-weight: 100; font-family: 'Poppins'; color: #fff; }
  //     p.bottomText { transition: 0.5s all; margin: 20px 0; font-size: 22px; font-weight: 100; font-family: 'Pretendard-Regular'; color: #fff;

  //       span { font-size: inherit; &:first-child { margin-right: 35px; } }
  //       i.icon-triangle { content: ''; display: inline-block; margin: 0 6px; width: 22px; height: 19px; vertical-align: middle;  background: url(../images/sectionWorld/icon-triangle.png) no-repeat; }
  //     }
  //   }
  // }

  // &:hover {
  //   background: #fff;
  //   .nasdaqWrap { 
  //     &__content { 
  //       p.cost {  color: #000;  }
  //       p.date {  color: #000; }
  //       p.bottomText {  color: #000;                                  
  //       }
  //     }
  //   }          
  // }

  .sectionRecruit { 

    &--title { font-family: "GmarketSansBold"; font-size: 70px; position: relative; z-index: 9; font-weight: 1000; left: 0%; top: 0%; transform: translate(0%,0%); text-align: center; line-height: 1.0; opacity: 1; }
    &--explanation { font-size: 24px; position: relative; margin-top: 30px; z-index: 9; font-weight: 500; left: 0%; top: 0%; transform: translate(0%, 0%); text-align: center; line-height: 1.2;  opacity: 1; }
    
    &__buttonWrap {
      display: flex; justify-items: center; align-items: center; height: 100px; max-width: 1550px; width: 100%;

      ul {
        display: flex; align-items: center; justify-content: space-evenly; width: 100%;

        li { cursor: pointer; transition: 0.5s all; position: relative; 
          a.btn-more {  width: 82px; height: 97px; background: url(../images/section2/btn-more.png) no-repeat; transition: 0.5s all;
            &:hover { background: url(../images/section2/btn-more-hover.png) no-repeat; } 
          }
          a { display: block; width: 100%; height: 100%; }
          i { font-size: 15px; color: #fff; font-weight: bold; width: 40px; height: 40px; background-color: #00adef; position: absolute; right: -30px; top: -27px; border-radius: 100px; text-align: center; padding: 8px 10px; transition: 0.5s all; }
          &:hover { 
            i { background-color: #1965a7; }
          }
        }

        li:nth-child(1) { width: 130px; height: 65px; background: url(../images/section3/btn-all-off.png) no-repeat;                     
          i { right: -15px; top: -17px; }
          &:hover { background: url(../images/section3/btn-all-on.png) no-repeat;    }
        }
        li:nth-child(2) { width: 113px; height: 32px; background: url(../images/section3/btn-game-off.png) no-repeat;                     
          &:hover { background: url(../images/section3/btn-game-on.png) no-repeat;    }
        }
        li:nth-child(3) { width: 256px; height: 66px; background: url(../images/section3/btn-business-off.png) no-repeat;                     
          &:hover { background: url(../images/section3/btn-business-on.png) no-repeat;    }
        }
        li:nth-child(4) { width: 318px; height: 36px; background: url(../images/section3/btn-systemInfra-off.png) no-repeat;                     
          &:hover { background: url(../images/section3/btn-systemInfra-on.png) no-repeat;    }
        }
        li:nth-child(5) { width: 352px; height: 66px; background: url(../images/section3/btn-management-off.png) no-repeat;                     
          &:hover { background: url(../images/section3/btn-management-on.png) no-repeat;    }
        }

      }
    }

  }

  
}

// .img1 { transform: scale(0.2); position : absolute }
// section.main { position: relative; border-top:1px solid red; background-color : black; padding-top : 250px } 
// section.second { background-color : navy } 


// svg#earth { width: 100px; height: 100px; opacity :0 }




a.btn-more {  width: 82px; height: 97px; background: url(../images/section2/btn-more.png) no-repeat; transition: 0.5s all;
  &:hover { background: url(../images/section2/btn-more-hover.png) no-repeat; } 
}













/* Panels. */
.splitview {
  position: relative;
  width: 1723px;
  min-height: 510px;
  overflow: hidden;
}

.panel {
  position: absolute;
  width: 1723px;
  min-height: 510px;
  overflow: hidden;
}

  .panel .imgContent {
      position: absolute;
      width: 1723px;
      min-height: 510px;
      color: #FFF;
  }

  .panel .description {
      width: 25%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
  }

  .panel img {
      // box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
      // width: 35%;
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
  }


.bottom {
  // background-color: rgb(44, 44, 44);
  z-index: 1;
}

  .bottom .description {
      right: 5%;
  }

.top {
  // background-color: rgb(77, 69, 173);
  z-index: 2;
  width: 50vw;

  /*-webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
  clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);*/
}

  .top .description {
      left: 5%;
  }

/* Handle. */
.handle {
  height: 100%;
  position: absolute;
  display: block;
  background-color: rgb(253, 171, 0);
  width: 5px;
  top: 0;
  left: 50%;
  z-index: 3;
}

/* Skewed. */
.skewed .handle {
  top: 50%;
  transform: rotate(30deg) translateY(-50%);
  height: 200%;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  transform-origin: top;
}

.skewed .top {
  transform: skew(-30deg);
  margin-left: -1000px;
  width: calc(50vw + 905px);
}

.skewed .top .imgContent {
  transform: skew(30deg);
  margin-left: 1000px;
}
