
* {
 box-sizing: border-box;
  margin : 0;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



body { /* overflow: hidden;*/  }

section {
  opacity : 1;
  background-color : #fff;
  width: 100%;
  // min-width: 1400px;
  height: 100vh;
  display : flex;
  align-items: center; flex-direction: column;
  position: relative;
  &.main  { background: url(../images/bg-repeat.jpg) no-repeat; background-size: cover; opacity: 0;  }

  .content { min-width: 1000px; width: 100%; height: 100%; margin: 0 auto; display: flex; align-items: center; position: relative; justify-content: center; flex-direction: column;

    &--videoWrap { 
      position: absolute; top : 50%; left: 50%; transform: translate(-50%, -60%); opacity: 1; z-index: 1; width: 170px; height: 190px; /* -126 -59 로 와야함 결국은 */
      video { opacity: 0; position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: 1; clip-path: url(#clip); }
      

      .img-svgPlay {  width: 192px; height: 199px; z-index: 2; position: absolute; mix-blend-mode: multiply; left: -16px; top: -5px;  }
     }

     div.bottomTextWrap { display: flex; align-items: center; }
    .mainTitle { margin-bottom: 50px; }
    .text-experience { opacity: 0; transform: translateX(-30%); }
    .text-playon { opacity: 0; }
    .text-on { opacity: 0; transform: translateY(80px); }
    .text-with { display: inline-block; opacity: 0; transform: translateX(24%); }
    .text-hypen { margin-right: 20px; opacity: 0; transform: translateX(24%); transform-origin: right; }
    .text-gravity { display: inline-block; clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%) }
    


  }

  
  // &.sectionNext { height: 100vh; min-height: 100vh;  }
  .mainNextContent { min-width: 1000px; width: 100%; height: 100%; margin: 0 auto; position: relative; display: flex; justify-content: center; flex-wrap: wrap;
       
    
    
    // div[class^="block"] {
    //   position: relative; white-space: nowrap; margin: 0 auto 100px;
    // }
    div.block1 { position: relative; white-space: nowrap; margin: 0 auto 100px; }
    div.block2 { position: relative; white-space: nowrap; margin: 0 auto 100px; }
    div.block3 { position: relative; white-space: nowrap; margin: 0 auto 100px; }
    div.block4 { position: relative; white-space: nowrap; margin: 0 auto 100px; }

    
    // div.block2 { margin-bottom: 50px; }
    // div.block3 { width: 100%; display: flex; justify-content: center; }
    // div.block4 { width: 100%; }
    
    div.blockFinal { margin-bottom: 0; width: 400px; height: 300px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 8;
      h1 { font-family: "GmarketSansMedium"; font-size: 70px; position: absolute; z-index: 9; font-weight: 1000; left: 50%; top: 30%; transform: translate(-50%,-50%); text-align: center; line-height: 1.0; opacity: 0; }
      p { font-size: 24px; position: absolute; z-index: 9; font-weight: 500; left: 50%; top: 41%; transform: translate(-50%, -50%); text-align: center; line-height: 1.2;  opacity: 0; }
      img.contentWrapImg { width: 100%; height: 100%; }

      &--boxWrap {
        position: absolute; left: 50%; top: 60%; transform: translate(-50%, -50%); width: 100%;
      }
      &--onlineBox{
        position: absolute; top: 65%; left: 50%; transform: translate(-50%, -50%) scale(1); z-index: 5; opacity: 0; transform-origin: 50% 50%;
      }
      &--mobileBox{
        position: absolute; top: 65%; left: 95%; transform: translate(-50%, -50%) scale(0.7); z-index: 5; opacity: 0; transform-origin: 50% 50%;
      }
      &--ipTVBox{
        position: absolute; top: 65%; left: 130%; transform: translate(-50%, -50%) scale(0.7); z-index: 5; opacity: 0; transform-origin: 50% 50%;
      }

      &--dim {    
          display: none;    
          position: absolute;
          top: 70%;
          left: 0;
          width: 100%;
          height: 160vh;
          background: linear-gradient(to bottom, rgba(133, 133, 133, 0) 0%, rgba(133, 133, 133, 0.013) 4.8%, rgba(133, 133, 133, 0.049) 9.8%, rgba(133, 133, 133, 0.104) 14.8%, rgba(133, 133, 133, 0.175) 20%, rgba(133, 133, 133, 0.259) 25.5%, rgba(133, 133, 133, 0.352) 31.2%, rgba(133, 133, 133, 0.45) 37.1%, rgba(133, 133, 133, 0.55) 43.4%, rgba(133, 133, 133, 0.648) 50.1%, rgba(133, 133, 133, 0.741) 57.2%, rgba(133, 133, 133, 0.825) 64.7%, rgba(133, 133, 133, 0.896) 72.7%, rgba(133, 133, 133, 0.951) 81.2%, rgba(133, 133, 133, 0.987) 90.3%, #fff 100%);
          &:after { content: ""; display: block; position: absolute; left: 0; bottom: -2px; width: 100%; height: 4px; background-color: #fff; }
      
      }

      &--onlineBox {

      }
    }
    
    &--item1 { position: relative; left: 6%; z-index: 3; top : 0% }
    &--item2 { position: relative; left: -3%; top: 46%; z-index: 2;  }
    &--item3 { position: relative; left: 0%; top : 0% }
    &--item4 { position: relative; right: -3%; top: 65%; z-index: 2; }
    &--item5 { position: relative; right: 5%; top: 0%; z-index: 3; }

    &--item6 { position: relative; left: 2%; z-index: 3; top : -5% }
    &--item7 { position: relative; left: -3%;  top: 39%; z-index: 2;  }
    &--item8 { position: relative; left: 0%; top : 12% }
    &--item9 { position: relative; right: -3%; top: 45%; z-index: 2; }
    &--item10 { position: relative; right: 2%; top: 24%; z-index: 3; }

    &--item11 { position: relative; left: -2%; z-index: 3; top : 40% }
    &--item12 { position: relative; left: -8%;  top: 17%; z-index: 2;  }
    &--item13 { position: absolute; width: 460px; height: 344px; left: 50%; transform: translateX(-50%); top : 65%; z-index: 3; }
    &--item14 { position: relative; right: -5%; top: 28%; z-index: 2; }
    &--item15 { position: relative; right: -4%; top: 21%; z-index: 3; }

    
    &--item16 { position: relative; left: 2%; z-index: 3; top : -5% }
    &--item17 { position: relative; left: -3%;  top: 39%; z-index: 2;  }
    &--item18 { position: relative; left: 0%; top : 12%; opacity: 0; }
    &--item19 { position: relative; right: -3%; top: 45%; z-index: 2; }
    &--item20 { position: relative; right: 2%; top: 24%; z-index: 3; }

  }


  .sectionRecruit { 

    &--title { font-family: "GmarketSansMedium"; font-size: 70px; position: relative; z-index: 9; font-weight: 1000; left: 0%; top: 0%; transform: translate(0%,0%); text-align: center; line-height: 1.0; opacity: 1; }
    &--explanation { font-size: 24px; position: relative; margin-top: 30px; z-index: 9; font-weight: 500; left: 0%; top: 0%; transform: translate(0%, 0%); text-align: center; line-height: 1.2;  opacity: 1; }
    
    &__buttonWrap {
      display: flex; justify-items: center; align-items: center; height: 100px; max-width: 1550px; width: 100%;

      ul {
        display: flex; align-items: center; justify-content: space-evenly; width: 100%;

        li { cursor: pointer; transition: 0.5s all; position: relative; 
          a.btn-more {  width: 82px; height: 97px; background: url(../images/section2/btn-more.png) no-repeat; transition: 0.5s all;
            &:hover { background: url(../images/section2/btn-more-hover.png) no-repeat; } 
          }
          a { display: block; width: 100%; height: 100%; }
          i { font-size: 15px; color: #fff; font-weight: bold; width: 40px; height: 40px; background-color: #00adef; position: absolute; right: -30px; top: -27px; border-radius: 100px; text-align: center; padding: 8px 10px; transition: 0.5s all; }
          &:hover { 
            i { background-color: #1965a7; }
          }
        }

        li:nth-child(1) { width: 130px; height: 65px; background: url(../images/section3/btn-all-off.png) no-repeat;                     
          i { right: -15px; top: -17px; }
          &:hover { background: url(../images/section3/btn-all-on.png) no-repeat;    }
        }
        li:nth-child(2) { width: 113px; height: 32px; background: url(../images/section3/btn-game-off.png) no-repeat;                     
          &:hover { background: url(../images/section3/btn-game-on.png) no-repeat;    }
        }
        li:nth-child(3) { width: 256px; height: 66px; background: url(../images/section3/btn-business-off.png) no-repeat;                     
          &:hover { background: url(../images/section3/btn-business-on.png) no-repeat;    }
        }
        li:nth-child(4) { width: 318px; height: 36px; background: url(../images/section3/btn-systemInfra-off.png) no-repeat;                     
          &:hover { background: url(../images/section3/btn-systemInfra-on.png) no-repeat;    }
        }
        li:nth-child(5) { width: 352px; height: 66px; background: url(../images/section3/btn-management-off.png) no-repeat;                     
          &:hover { background: url(../images/section3/btn-management-on.png) no-repeat;    }
        }

      }
    }

  }

  
}

// .img1 { transform: scale(0.2); position : absolute }
// section.main { position: relative; border-top:1px solid red; background-color : black; padding-top : 250px } 
// section.second { background-color : navy } 


// svg#earth { width: 100px; height: 100px; opacity :0 }




a.btn-more {  width: 82px; height: 97px; background: url(../images/section2/btn-more.png) no-repeat; transition: 0.5s all;
  &:hover { background: url(../images/section2/btn-more-hover.png) no-repeat; } 
}













/* Panels. */
.splitview {
  position: relative;
  width: 1723px;
  min-height: 510px;
  overflow: hidden;
}

.panel {
  position: absolute;
  width: 1723px;
  min-height: 510px;
  overflow: hidden;
}

  .panel .imgContent {
      position: absolute;
      width: 1723px;
      min-height: 510px;
      color: #FFF;
  }

  .panel .description {
      width: 25%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
  }

  .panel img {
      // box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
      // width: 35%;
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
  }


.bottom {
  // background-color: rgb(44, 44, 44);
  z-index: 1;
}

  .bottom .description {
      right: 5%;
  }

.top {
  // background-color: rgb(77, 69, 173);
  z-index: 2;
  width: 50vw;

  /*-webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
  clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);*/
}

  .top .description {
      left: 5%;
  }

/* Handle. */
.handle {
  height: 100%;
  position: absolute;
  display: block;
  background-color: rgb(253, 171, 0);
  width: 5px;
  top: 0;
  left: 50%;
  z-index: 3;
}

/* Skewed. */
.skewed .handle {
  top: 50%;
  transform: rotate(30deg) translateY(-50%);
  height: 200%;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  transform-origin: top;
}

.skewed .top {
  transform: skew(-30deg);
  margin-left: -1000px;
  width: calc(50vw + 1000px);
}

.skewed .top .imgContent {
  transform: skew(30deg);
  margin-left: 1000px;
}
